<div class="navbar grid">
    <a class="logo"href="{{ 'index.html' | relative_url }}"><img class="logo-pic" src="{{ site.url }}/images/logo (1).png" alt="">Emily<br>Zou</a>
    <input type="checkbox" class="checkbox" name="" id="open">
    <div class="middle">
        <a href="{{ site.url }}/about.html" class="">About</a>
        <a href="{{ site.url }}/projects/index.html" class="">Projects</a>
        <a href="{{ site.url }}/gallery.html" class="">Gallery</a>
        <a href="#contact" class="contactHidden">Contact</a>
    </div>
    <a href="#contact" class="contact">Contact</a>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
</div>
